* {
    font-size: 10px;
}
body {
    padding: 0;
    margin: 0;
    overflow: hidden;
}
/*--------------------------------------------Navbar*/
.navbar {
    background-color: #CF2A27;
    padding: 0;
    margin: 0;
    justify-content: space-between !important;
}
.navbar h1 {
    color: #fff;
    padding: 1rem;
    padding-left: .5rem;
    font-size: 3rem;   
}
.navbar h4 {
    color: #fff;
    padding: 1.2rem;
    font-size: 2rem;
}
.nav-item a {
    width: 100%;
}
.nav-item:hover,
.nav-item:active,
.nav-item:focus,
.nav-item:active:focus {
    text-decoration: underline;
    color: #fff;
}
.navbar-brand {
    margin-right: 0;
}
.navbar-toggler {
    font-size: 2rem;
    padding: 1rem 2rem;
    margin: 1rem;
}
/*--------------------------------------------Special paddings/margins/text*/
.container-fluid {
    padding: 0;
    margin: 0;
}
/*--------------------------------------------Buttons*/

/*--------------------------------------------Images*/
#hero-image {
    background: url("../images/hero-image.jpg") no-repeat center center;
    height: 60vh;
    width: 100%;
    background-size: cover;
}