* {
    font-size: 10px;
}
body {
    padding: 0;
    margin: 0;
    overflow-y: scroll;
}
/*--------------------------------------------Navbar*/
.navbar {
    background-color: #CF2A27;
    padding: 0;
    margin: 0;
    justify-content: space-between !important;
}
.navbar h1 {
    color: #FFF;
    padding: 1rem;
    padding-left: .5rem;
    font-size: 2.2rem;   
}
.navbar h4 {
    color: #FFF;
    padding: 1.2rem;
    font-size: 1.8rem;
}
.nav-item a {
    width: 100%;
}
.nav-item:hover,
.nav-item:active,
.nav-item:focus,
.nav-item:active:focus {
    text-decoration: underline;
    color: #FFF;
}
.navbar-brand {
    margin-right: 0;
}
.navbar-toggler {
    font-size: 2rem;
    padding: 1rem 2rem;
    margin: 1rem;
}
/*--------------------------------------------Special paddings/margins/text*/
.container-fluid {
    padding: 0;
    margin: 0;
}
.block-divider {
    background-color: #000;
    height: 0.2rem;
    width: 8rem;
    margin-top: 0;
    margin-bottom: 2rem;
}
.row {
    margin: 0;
}
.user-links {
    font-size: 1.6rem;
}
.user-links-section {
    margin: auto;
}
.horizontal-rule {
    border-color: #000;
}
/*--------------------------------------------Buttons*/
#action-button {
    font-size: 2rem;
    padding: 0.2rem;
    padding-right: 2rem;
    background-color: #CF2A27;
    color: #FFF;
    margin: 2rem auto 1rem;
    display: block;
    border: 0.2rem solid #000;
}
.more-info-button {
    float: right;
    font-size: 1.4rem;
    padding: 0.5rem;
    background-color: #CF2A27;
    color: #FFF;
    display: block;
    border: 0.2rem solid #000;
    margin-right: 2rem;
}
.edit-button {
    float: right;
    font-size: 1.2rem;
    margin: 1rem;
    margin-right: 2rem;
    padding: 0.5rem 1.2rem;
    background-color: #38B000;
    border: 0.2rem solid #000;
    color: #FFF;
}
.delete-button {
    float: right;
    font-size: 1.2rem;
    margin: 1rem;
    margin-right: 3rem;
    padding: 0.5rem 0.5rem;
    background-color: #118AB2;
    border: 0.2rem solid #000;
    color: #FFF;
}
.delete-button-modal {
    float: right;
    font-size: 1.2rem;
    margin: 1rem;
    margin-right: 3rem;
    padding: 0.5rem 0.5rem;
    background-color: #CF2A27;
    border: 0.2rem solid #000;
    color: #FFF;
}
.cancel-button-modal {
    float: right;
    font-size: 1.2rem;
    margin: 1rem;
    margin-right: 3rem;
    padding: 0.5rem 0.5rem;
    background-color: #38B000;
    border: 0.2rem solid #000;
    color: #FFF;
}
/*--------------------------------------------Images*/
#hero-image {
    background: url("../images/hero-image.jpg") no-repeat center center;
    height: 55vh;
    width: 100%;
    background-size: cover;
}
#profile-hero-image {
    background: url("../images/profile-hero-image.jpg") no-repeat center center;
    height: 50vh;
    width: 100%;
    background-size: cover;  
}
/*--------------------------------------------Headings*/
.headings {
    font-size: 2rem;
    text-align: center;
    padding-top: 1rem;
}
.job-headings {
    font-size: 1.6rem;
    padding-left: 2rem;
    padding-top: 1rem;
    text-decoration: underline;
}
.job-sub-headings {
    font-size: 1.4rem;
    padding-left: 2rem;
}
.job-extra-heading {
    font-size: 1.4rem;
    text-decoration: underline;
}
.footer-heading {
    padding: 1rem;
    text-align: center;
    color: #FFF;
    font-size: 1.6rem;
    text-decoration: underline;
    margin: 0;
}
.profile-sub-headings {
    font-size: 1.6rem;
    padding: 2rem;
}
/*--------------------------------------------Jobs*/
.job-card {
    width: 100%;
    margin: 2rem auto 1rem;
    background-color: #DDD;
}
.job-overview {
    font-size: 1.4rem;
    padding: 2rem;
}
.info-icon {
    padding: 0.4rem;
    font-size: 1.5rem;
}
.job-description {
    font-size: 1.4rem;
    padding: 2rem 0;
}
.job-content li {
    font-size: 1.4rem;
    padding-left: 1rem;
}
.posted-by {
    font-size: 1.4rem;
}
/*--------------------------------------------Forms*/
.form-section-card {
    width: 80%;
    margin: 2rem auto 1rem;
}
.form-group label {
    font-size: 2rem;
    margin: 1rem;
}
.form-group input {
    font-size: 1.6rem;
}
.form-icon {
    padding: 1rem;
    font-size: 2rem;
}
.form-group {
    background-color: #DDD;
    border: 0.2rem solid #DDD;
    margin: 0;
}
.help-block {
    font-size: 1.2rem;
    padding: 1rem;
}
.form-control {
    font-size: 1.6rem;
}
option {
    font-size: 1.6rem;
}
/*--------------------------------------------Flash Messages*/
.flashes h4 {
    line-height: 2;
    text-align: center;
    margin: 4rem auto;
    background-color: #DDD;
    font-size: 2rem;
    width: 100%;
}
/*--------------------------------------------Footer*/
footer {
    background-color: #CF2A27;
    min-height: 5rem;
    width: 100%;
    margin-top: 2rem;
}
.footer-col {
    padding: 0;
}
#app-store-icons {
    margin: auto;
    display: block;
    padding: 0.5rem;
}
.social-icons-container {
    text-align: center;
}
.social-icon {
    color: #FFF;
    font-size: 3rem;
    padding: 1rem 0.5rem;
    text-decoration: none;
}
.copyright {
    font-size: 1.2rem;
    color: #FFF;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 7rem 0;
}
.footer-content a {
    font-size: 1.4rem;
    padding: 1rem;
    color: #FFF;
    display: block;
    text-align: center;
}
/*--------------------------------------------Profile*/
.profile-section-card {
    width: 80%;
    margin: 2rem auto 1rem;
    background-color: #DDD;
}
.profile-content {
    text-align: center;
    font-size: 1.6rem;
    margin: auto;
    padding: 2rem;
}
.modal-text {
    font-size: 1.8rem;
    text-align: center;
    padding: 2rem;
}
.modal {
    margin-top: 5rem;
}
/*--------------------------------------------ABOUT*/
.about-card {
    width: 100%;
    margin: 2rem auto 1rem;
}
.about-content {
    font-size: 1.6rem;
    text-align: center;
    padding: 1rem;
}
.about-content-warning {
    font-size: 1.6rem;
    text-align: center;
    padding: 1rem;
    text-decoration: underline;
    text-underline-offset: 0.5rem;
}