* {
    font-size: 10px;
}
body {
    padding: 0;
    margin: 0;
}
/*--------------------------------------------Navbar*/
.navbar {
    background-color: #CF2A27;
    padding: 0;
    margin: 0;
    justify-content: space-between !important;
}
.navbar h1 {
    color: #FFF;
    padding: 1rem;
    padding-left: .5rem;
    font-size: 2.2rem;   
}
.navbar h4 {
    color: #FFF;
    padding: 1.2rem;
    font-size: 1.8rem;
}
.nav-item a {
    width: 100%;
}
.nav-item:hover,
.nav-item:active,
.nav-item:focus,
.nav-item:active:focus {
    text-decoration: underline;
    color: #FFF;
}
.navbar-brand {
    margin-right: 0;
}
.navbar-toggler {
    font-size: 2rem;
    padding: 1rem 2rem;
    margin: 1rem;
}
/*--------------------------------------------Special paddings/margins/text*/
.container-fluid {
    padding: 0;
    margin: 0;
}
.block-divider {
    background-color: #000;
    height: 0.2rem;
    width: 8rem;
    margin-top: 0;
    margin-bottom: 2rem;
}
.row {
    margin: 0;
}
.user-links {
    font-size: 1.6rem;
}
.user-links-section {
    margin: auto;
}
/*--------------------------------------------Buttons*/
#register-button {
    font-size: 2rem;
    padding: 0.2rem;
    padding-right: 2rem;
    background-color: #CF2A27;
    color: #FFF;
    margin: 2rem auto 1rem;
    display: block;
    border: 0.2rem solid #000;
}
/*--------------------------------------------Images*/
#hero-image {
    background: url("../images/hero-image.jpg") no-repeat center center;
    height: 55vh;
    width: 100%;
    background-size: cover;
}
/*--------------------------------------------Headings*/
.headings {
    font-size: 2rem;
    text-align: center;
    padding-top: 1rem;
}
/*--------------------------------------------Featured Jobs*/
.featured-job-card {
    background-color: #DDD;
    margin: auto;
    padding: 0;
}
.featured-job-title {
    font-size: 1.6rem;
    text-align: center;
    text-decoration: underline;
}
.featured-job-location {
    font-size: 1.4rem;
    padding-left: 2rem;
}
.featured-job-salary {
    font-size: 1.4rem;
    padding-left: 2rem;
}
.featured-job-overview {
    font-size: 1.2rem;
    padding: 2rem;
}
.featured-star-right {
    float: right;
    padding: 1rem;
    font-size: 2rem;
    color: #CF2A27;
}
.featured-star-left {
    padding: 1rem;
    font-size: 2rem;
    color: #CF2A27;
}
/*--------------------------------------------Register Page*/
.register-section-card {
    width: 80%;
    margin: 2rem auto 1rem;
}
.form-group label {
    font-size: 2rem;
    margin: 1rem;
}
.form-group input {
    font-size: 1.6rem;
}
.form-icon {
    padding: 1rem;
    font-size: 2rem;
}
.form-group {
    background-color: #DDD;
    border: 0.2rem solid #DDD;
    margin: 0;
}
.help-block {
    font-size: 1.2rem;
    padding: 1rem;
}
/*--------------------------------------------Flash Messages*/
.flashes h4 {
    line-height: 2;
    text-align: center;
    margin: 4rem auto;
    background-color: #DDD;
    font-size: 2rem;
    width: 100%;
}