{% extends "base.html" %}
{% block content%}
    <div class="row error-container">
        <div class="col-lg-10 error-card">
            <img src="{{ url_for('static', filename='images/error.png') }}" alt="Error" id="error-image">
        </div>
        <div class="col-lg-10 error-card">
            <h3 class="error-heading">ERROR 500 - Internal Server Error, something has gone wrong</h3>
        </div>
        <div class="col-lg-10 error-card">
            <div class="error-content">
                <a href="{{ url_for('home') }}">Go back to the Home Page</a>
            </div>
        </div>
    </div>
{% endblock %}