{% extends "base.html" %}
{% block content%}
    <div class="row error-container">
        <div class="col-lg-10 error-card">
            <img src="{{ url_for('static', filename='images/404-error.png') }}" alt="404 Error" id="error-image">
        </div>
        <div class="col-lg-10 error-card">
            <h3 class="error-heading">Sorry, we can't find the page you were looking for.</h3>
        </div>
        <div class="col-lg-10 error-card">
            <div class="error-content">
                <a href="{{ url_for('home') }}">Go back to Home Page</a>
            </div>
        </div>
    </div>
{% endblock %}