{% extends "base.html" %}
{% block content %}

    <section class="add-job-section">
        <h3 class="headings">Edit Job</h3>
        <hr class="block-divider block-divider-short">
<!-- ================================================ EDIT JOB FORM ================================================-->  
        <div class="row">
            <div class="col-s8 form-section-card">
                <form method="POST" action="{{ url_for('edit_job', job_id=job._id) }}">
                    <!--Job Title Field-->
                    <div class="form-group">
                        <label for="job_title">Job Title</label>
                        <input type="text" class="form-control" id="job_title" name="job_title" minlength="3" 
                        maxlength="50" value="{{ job.job_title }}" placeholder="Please Enter a Job Title" required>
                    </div>
                    <!--Company Name Field-->
                    <div class="form-group">
                        <label for="company_name">Company Name</label>
                        <input type="text" class="form-control" id="company_name" name="company_name" minlength="3" 
                        maxlength="20" value="{{ job.company_name }}" pattern="^[a-zA-Z0-9]{3,20}$" placeholder="Please Enter a Company Name" required>
                    </div>
                    <!--Role Type Field-->
                    <div class="form-group">
                        <label for="role_type">Role Type</label>
                        <select class="form-control" id="role_type" name="role_type" required>
                            <option disabled>Please Select an Option</option>
                            {% if option == selected %}
                                <option value="{{ job.role_type }}">{{ job.role_type }}</option>
                            {% else %}
                                <option value="{{ job.role_type }}">{{ job.role_type }}</option>
                            {% endif %}
                        </select>
                    </div>
                    <!--Job Location Field-->
                    <div class="form-group">
                        <label for="job_location">Job Location</label>
                        <input type="text" class="form-control" id="job_location" name="job_location" minlength="3" 
                        maxlength="20" value="{{ job.job_location }}" pattern="^[a-zA-Z0-9]{3,20}$" placeholder="Please Enter a Job Location" required>
                    </div>
                    <!--Job Salary Field-->
                    <div class="form-group">
                        <label for="job_salary">Job Salary</label>
                        <input type="number" class="form-control" id="job_salary" name="job_salary" min="1" step="1"
                        value="{{ job.job_salary }}" pattern="^[-0-9]$" placeholder="Please Enter a Job Salary" required>
                    </div>
                    <!--Job Overview Field-->
                    <div class="form-group">
                        <label for="job_overview">Job Overview</label>
                        <textarea class="form-control" id="job_overview" name="job_overview" minlength="10" 
                        maxlength="100" pattern="^[a-zA-Z0-9]{10,100}$" rows="3" placeholder="Please Enter A Brief Overview" required>{% for overview in job.job_overview %}{{- overview -}}{% endfor %}</textarea>
                    </div>
                    <!--Job Description Field-->
                    <div class="form-group">
                        <label for="job_description">Job Description</label>
                        <textarea class="form-control" id="job_description" name="job_description" minlength="10"
                        maxlength="500" pattern="^[a-zA-Z0-9]{10,500}$" rows="10" placeholder="Please Enter a Job Description" required>{% for description in job.job_description %}{{- description -}}{% endfor %}</textarea>
                    </div>
                    <!--Job Responsibilities Field-->
                    <div class="form-group">
                        <label for="job_responsibilities">Job Responsibilities</label>
                        <small class="form-text text-muted help-block">
                            <i class="fas fa-info-circle"></i>
                            Please enter each responsibility on a new line
                        </small>
                        <textarea class="form-control" id="job_responsibilities" name="job_responsibilities[]" minlength="10"
                        maxlength="500" pattern="^[a-zA-Z0-9]{10,500}$" rows="5" aria-multiline="true" placeholder="Please Enter Job Responsibilities" required>{% for responsibilities in job.job_responsibilities %}{{- responsibilities -}}{% endfor %}</textarea>
                    </div>
                    <!--Job Requirements Field-->
                    <div class="form-group">
                        <label for="job_requirements">Job Requirements</label>
                        <small class="form-text text-muted help-block">
                            <i class="fas fa-info-circle"></i>
                            Please enter each requirement on a new line
                        </small>                        
                        <textarea class="form-control" id="job_requirements" name="job_requirements[]" minlength="10"
                        maxlength="500" pattern="^[a-zA-Z0-9]{10,500}$" rows="5" aria-multiline="true" placeholder="Please Enter Job Requirements" required>{% for requirements in job.job_requirements %}{{- requirements -}}{% endfor %}</textarea>
                    </div>
                    <!--Job Benfits Field-->
                    <div class="form-group">
                        <label for="job_benefits">Job Benefits</label>
                        <small class="form-text text-muted help-block">
                            <i class="fas fa-info-circle"></i>
                            Please enter each benefit on a new line
                        </small>                        
                        <textarea class="form-control" id="job_benefits" name="job_benefits[]" minlength="3"
                        maxlength="500" pattern="^[a-zA-Z0-9]{3,500}$" rows="5" aria-multiline="true" placeholder="Please Enter Job Benefits" required>{% for benefits in job.job_benefits %}{{- benefits -}}{% endfor %}</textarea>
                    </div>
                    <!--Submit Button-->
                    <div>
                        <button type="submit" class="btn-large" id="action-button">
                            <i class="fas fa-sign-in-alt form-icon"></i>Edit Job
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}
